:root {
  /* 0 colors are the main hue. 1 is the lightest, 2 is the second-lightest, 3 is second-darkest, and 4 is darkest. */

  --purple-0: hsl(279, 46%, 31%);   	/* Purples */
  --purple-1: hsl(279, 8%, 64%);
  --purple-2: hsl(279, 21%, 34%);
  --purple-3: hsl(279, 92%, 24%);
  --purple-4: hsl(279, 65%, 11%);

  --green-0: hsl(153, 50%, 31%);    	/* Blues */
  --green-1: hsl(153, 8%, 66%);
  --green-2: hsl(153, 22%, 35%);
  --green-3: hsl(153, 100%, 23%);
  --green-4: hsl(153, 71%, 11%);

  --blue-0: hsl(218, 43%, 32%);	     /* Greens */
  --blue-1: hsl(218, 6%, 64%);
  --blue-2: hsl(218, 20%, 34%);
  --blue-3: hsl(218, 87%, 24%);
  --blue-4: hsl(218, 61%, 11%);

}
