html{
  background-color:var(--purple-1)
}

div.Header {
  font-family: 'Nanum Pen Script', cursive;
  color:var(--blue-3)
}
div.Text {
  font-family: 'IBM Plex Mono', monospace;
}

/* 0 colors are the main hue. 1 is the lightest, 2 is the second-lightest, 3 is second-darkest, and 4 is darkest. */

--purple-0 { color: #5A2B74 }	/* Main Primary color */
--purple-1 { color: #A59CAA }
--purple-2 { color: #5C4569 }
--purple-3 { color: #4C0573 }
--purple-4 { color: #220A2F }

--green-0 { color: #287854 }	/* Main Secondary color (1) */
--green-1 { color: #A1AFA9 }
--green-2 { color: #456D5B }
--green-3 { color: #007741 }
--green-4 { color: #08301E }

--blue-0 { color: #2E4873 }	/* Main Secondary color (2) */
--blue-1 { color: #9CA0A8 }
--blue-2 { color: #465369 }
--blue-3 { color: #082F72 }
--blue-4 { color: #0B182E }
